<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body>
    <div class="container">
        <h2 class ="text-gradient">My Appointments</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Appointment</th>
                    <th> </th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for(var i = 0; i < user.length; i++) {%>
                        <tr>
                          <td><%= user[i].name%></td>
                          <td><%= JSON.stringify(user[i].appointments)%></td>
                          <td><%= user[i].status%></td> 
                          <td> 
                            <div class="radio-inline">
                                <ul>
                                    <li>
                                        <input type="radio" id="radio-4" name="status" value="Confirm" checked>
                                        <label for="radio-4" class="radio-label"><i class="fa-solid fa-circle-check"></i></label>    
                                    </li>
                                    <li>
                                        <input type="radio" id="radio-5" name="status" value="Decline" checked>
                                        <label for="radio-5" class="radio-label"><i class="fa-solid fa-circle-xmark"></i></label>
                                    </li>
                                </ul>
                            </div>
                          </td>
                        </tr>
                       <% } %>
            </tbody>
    
        </table>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>

</body>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->