<!-- include header -->
<%-include('include/_header')%>
<!--include header-->

-<body id="my-a" >

    <h2 class ="text-gradient">My Appointments</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% for(appointment of appointments) { %>
                <td><%= appointment.date.toDateString() %></td>
                <td><%= appointment.time %></td>
                <td><%= appointment.status %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

</body>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer

    