<!--include header-->
<%-include('include/_header')%>
<!--include header-->
    <div class="gridContainer">
        <%  let monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            let today = new Date();
            let currentMonth = monthNames[today.getMonth()];
            let numberOfDays = new Date(today.getFullYear(), today.getMonth()+1, 0).getDate();
        %>
        <% for(let i=1; i<=numberOfDays; i++) { %>

            <div class="day">
                <a href="<%= currentMonth + "-" + i%>" class="day--link" id="<%= currentMonth + "-" + i%>"><%= currentMonth + " " + i %></a>
            </div>

        <% } %>
    </div>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->


